*{
    margin: 0; 
    box-sizing: border-box;
    font-family:  'Baloo Paaji 2', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section.hero{
    background: url(/images/spread.jpg) center no-repeat;
    background-size: cover;
    height: 100vh; 
}
.hero header{
    background-color: #fff;
    width: 80%;
    height: 2.4em;    
    border-radius: 4em; 
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5%;
    position: absolute;
    padding: 0em 1em;
}
.hero header img{ 
    width: 80%;
    height: 100%;  
}
.hide-mobile{
    display: none;
} 
.menu-icon{
    width: 12%; 
    height: 2.2em;
    display: block;
    position: fixed;
    right: 0.8em;
    top: .5em;
}
div.years{ 
    width: 100%;
    height: 7em; 
    position: absolute; 
    /* z-index: 5; */
    bottom: 3em;
    display: flex;
    color: #fff; 
}
.years article, .years aside{ 
    width: 50%;
}
.years img{
    width: 100%; 
}
.years article img{
    width: 80%;
    margin-top: -5.5em;
}
.years aside img{
    width: 95%;
    margin-top: -3em;
}
section.love-story{
    width: 98%;
    margin: 0 auto;
}
section.love-story header{ 
    text-align: center;
    margin: 1.5em 0;
}
section.love-story h4, 
section.love-story span{
    color: #81488e;
    font-weight: normal;
}
section.love-story span:nth-of-type(2){
    display: block;
    background-color: #81488e;
    color: #fff;
}
div.pointer{
    width: 4.5em;
    height: 4.5em;
    border: 5px solid #81488e;
    border-radius: 50%;
    margin: -14% auto 0; 
    text-align: center;
}
.pointer i{
    color: #93c85c;
    font-size: 2rem;  
    cursor: pointer;
    animation: points 1.5s infinite ease-in-out;
}
@keyframes points{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(30px);
    }
}
.story-card{
    border: 2px solid #81488e;
    border-radius: 1.2em;
    text-align: center;
    margin-bottom: 12%;
}
.story-card p{ 
    text-align: justify;
    padding: 0 1em;
}
.story-card img{
    width: 100%; 
    border-radius: 1em;
}
footer{
    display: grid;
    place-items: center; 
} 
footer img{
    width: 100%; 
    text-align: right;
    margin-right: -40px;
}
.copyright p{
    margin-top: 1em; 
}
.copyright p:last-child{
    margin-top: 1em;
    color: #d0b3d4; 
}
div.scroll-up{
    width: 5em;
    background-color: #81488e;
    height: 5em; 
    border-radius: 50%;
    border: 7px solid #fff;
    margin-bottom: -10%;
    position: relative;
    text-align: center;
}
.scroll-up i{
    color: #93c85c;
    font-size: 2rem;  
    cursor: pointer;
    animation: points 1.5s infinite reverse ease-in-out;
}
div.copyright{
    background-color: #0f0d16;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding: 2.5em 1em;
    padding-bottom: 1.5em; 
}
.zmdi-favorite{
    color: red;
    font-size: 1.2rem;
}
