*{
    margin: 0; 
    box-sizing: border-box;
    font-family:  'Baloo Paaji 2', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section.hero{
    background: url(/images/spread02.jpg) center no-repeat;
    background-size: cover;
    height: 95vh;  
}
.hero header{
    background-color: #fff;
    width: 300px;
    height: 2.4em;    
    border-radius: 4em; 
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5%;
    position: absolute;
    padding: 0em 1em;
}
.hero header img{ 
    width: 80%;
    height: 100%;  
}
.hide-mobile{
    display: none;
} 
.menu-icon{
    width: 40px; 
    height: 2.2em;
    display: block;
    position: fixed;
    right: .5em;
    top: .5em;
    cursor: pointer;
}
div.years{ 
    width: 100%;
    height: 11em; 
    position: absolute;  
    bottom: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;  
    overflow: hidden;
}
.years article, .years aside{ 
    width: 45%; 
} 
.years img{
    width: 150px;  
} 
section.love-story{
    width: 98%;
    margin: 0 auto;
}
section.love-story header{ 
    text-align: center;
    margin: 1.5em 0;
}
section.love-story h4, 
section.love-story span{
    color: #81488e;
    font-weight: normal;
}
section.love-story span:nth-of-type(1){
    font-weight: bold;
    letter-spacing: .2rem;
}
section.love-story span:nth-of-type(2){
    display: block;
    background-color: #81488e;
    color: #fff;
}
div.pointer{
    width: 4.5em;
    height: 4.5em;
    border: 5px solid #81488e;
    border-radius: 50%;
    margin: -14% auto 0; 
    text-align: center;
}
.pointer i{
    color: #93c85c;
    font-size: 2rem;  
    cursor: pointer;
    animation: points 1.5s infinite ease-in-out;
}
@keyframes points{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(30px);
    }
}
div.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1em;
}
.story-card{
    border: 2px solid #81488e;
    border-radius: 1.2em;
    text-align: center;
    margin-bottom: 12%;
}

.story-card p{ 
    text-align: justify;
    padding: 0 1em .5em;
}
.story-card img{
    width: 100%;  
    border-radius: 1em;
}
footer{
    display: grid; 
} 
footer img{ 
    width: 80%;
    text-align: right; 
}
.copyright p{
    margin-top: 1em; 
}
.copyright p:last-child{
    margin-top: 1em;
    color: #d0b3d4; 
}
div.scroll-up{
    width: 5em;
    background-color: #81488e;
    height: 5em; 
    border-radius: 50%;
    border: 7px solid #fff;
    margin-bottom: -10%;
    position: relative;
    text-align: center;
    justify-self: center;
}
.scroll-up i{
    color: #93c85c;
    font-size: 2rem;  
    cursor: pointer;
    animation: points 1.5s infinite reverse ease-in-out;
}
div.copyright{
    background-color: #0f0d16;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    padding: 2.5em 1em;
    padding-bottom: 1.5em; 
}
.zmdi-favorite{
    color: red;
    font-size: 1.2rem;
}

/*//////////////////////////MEDIA QUERIES /////////////////////*/
@media screen and (min-width:768px){ 
    div.years{  
        height: 12em;  
        bottom: 8em; 
    }

    div.pointer{
        width: 6.5em;
        height: 6.5em;  
        margin: -9% auto 0;  
    }
    section.love-story header{
        margin-top: 4em;
    }
    section.love-story h4{
        font-size: large;
        font-weight: bold;
        letter-spacing: .5em;
    }
    section.love-story h1{
        font-size: 1.5rem;
        font-weight: bold; 
    } 
    div.scroll-up{
        width: 7em;
        height: 7em;    
        margin-bottom: -7%; 
    }
    footer{
        margin-top: 3em;
    }
    footer img{ 
        width: 30%;
        text-align: right;
        margin-right: auto; 
    }
    div.copyright{
        padding-top: .5em;
        padding-bottom: 0;
    }
    div.earthlings{
        margin-top: .5em 0 0;
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        padding: 0 2em;  
    } 
    .copyright p{
        margin: 0; 
    }
    .copyright > p{
        margin: 0; 
        margin-bottom: .4em;
        letter-spacing: .2em; 
    } 

    .pointer i{ 
        font-size: 5rem;    
    }
    @keyframes points{
        from{
            transform: translateY(0px);
        }
        to{
            transform: translateY(70px);
        }
    }
    .years img:first-of-type{
        animation: slide 2s ease-in-out forwards;
    }
    @keyframes slide{
        from{
            transform: translateX(-300px);
        }
        to{
            transform: translateX(50px);
        }
    }
    .years img:last-of-type{
        animation: slade 2s ease-in-out forwards;
    }
    @keyframes slade{
        from{
            transform: translateX(290px);
        }
        to{
            transform: translateX(-60px);
        }
    }

}

@media screen and (min-width:1200px){
    section.hero{ 
        height: 100vh; 
    }
    .container{
        width: 95%;
        margin: 0 auto;
    }
    
    div.years{  
        height: 12em;  
        bottom: 3em; 
    }

    div.pointer{
        width: 6.5em;
        height: 6.5em;  
        margin: -5.5% auto 0;  
    }
    div.cards{
        grid-gap: .5em;
    }
    section.love-story header{
        margin-top: 4em;
    }
    section.love-story h4{
        font-size: 1.7rem;
        font-weight: bold;
        letter-spacing: .5em;
    }
    section.love-story h1{
        font-size: 2.2rem;
        font-weight: bold; 
    }
    div.story-card h1{
        font-size: 1.5em;
    } 
    div.scroll-up{
        width: 7em;
        height: 7em;    
        margin-bottom: -4%;  
    }
    .scroll-up i{
        font-size: 4rem;
    }

    footer{
        margin-top: 3em;
    }
    footer img{ 
        width: 18%;
        text-align: right;
        margin-right: auto; 
    }
    div.copyright{
        padding-top: .5em;
        padding-bottom: 0;
    }
    div.earthlings{
        margin-top: .5em 0 0; 
        padding: 0; 
    } 
    .copyright p{
        margin: 0; 
    }
    .copyright > p{
        margin: 0; 
        margin-bottom: 1.4em;
        letter-spacing: .2em; 
    }  
    .pointer i{ 
        font-size: 4rem;    
    }
    @keyframes points{
        from{
            transform: translateY(-10px);
        }
        to{
            transform: translateY(44px);
        }
    }
    .years img:first-of-type{
        animation: slide 3s ease-in-out forwards;
    }
    @keyframes slide{
        from{
            transform: translateX(-525px);
        }
        to{
            transform: translateX(140px);
        }
    }
    .years img:last-of-type{
        animation: slade 3s ease-in-out forwards;
    }
    @keyframes slade{
        from{
            transform: translateX(525px);
        }
        to{
            transform: translateX(-170px);
        }
    }
}

/* MOBILE LANDSCAPE MEDIA QUERIES */
@media screen 
and (min-width: 450px) 
and (max-height: 400px)
and (orientation: landscape){
    div.years{   
        bottom: 2.2em;
        display: flex;
        justify-content: center;
        align-items: flex-end; 
    } 
    .years img{
        width: 90px;  
    } 
    .years img:first-of-type{
        width: 80px;  
    }
    div.pointer{
    width: 4.5em;
    height: 4.5em; 
    margin: -5.8% auto 0;  
    }
    #hero{
        height: 100vh;
    }
    div.scroll-up{
        width: 4.2em; 
        height: 4.2em;  
        border: 4px solid #fff;
        margin-bottom: -4.5%; 
    }
    .years img:first-of-type{
        animation: slide 2s ease-in-out forwards;
    }
    @keyframes slide{
        from{
            transform: translateX(-300px);
        }
        to{
            transform: translateX(-20px);
        }
    }
    .years img:last-of-type{
        animation: slade 2s ease-in-out forwards;
    }
    @keyframes slade{
        from{
            transform: translateX(290px);
        }
        to{
            transform: translateX(10px);
        }
    }


    .pointer i{ 
        font-size: 2rem;   
    }
    @keyframes points{
        from{
            transform: translateY(0px);
        }
        to{
            transform: translateY(30px);
        }
    }
}


